.header {
  font-family: "Raleway", Helvetica, Arial, sans-serif
}

.header h1 {
    margin: 0.2em 0;
    font-size: 2em;
    font-weight: bold;
}
body {
  color: #443235;
}



code {
      font: normal 10pt Consolas, Monaco, monospace;
}
a {
  /*color: #3b8bba;*/
  color: #268bd2;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

a:visited {
  /*color: #265778;*/
  color: #268bd2;
}


.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#menu .brand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
}

#menu .pure-menu {
  font-size: 0.9em;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}

ul li time{
    /*
    font-weight: normal;
    color: #515151;
    */
    font-size: 13px;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    /*color: #9a9a9a;*/
    color: #4E4E5A;
}

time, .post-taxonomy-tag {
    display: inline;
    padding: .3em .7em .3em;
    margin: 0 .05em;
    font-size: 85%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #eaeef3;
}

pre {
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}